<!DOCTYPE html>
<html>
<head>
    <%- include('./partials/header.ejs') %>
</head>
<body class="m-auto pt-5">
    <%- include("./partials/navbar.ejs") %>
    <ul class="pt-3"> 
        <% if(fridgeContainers) {%> 
            <% fridgeContainers.forEach(fridge => { %>
                <button class="btn list-group-item list-group-item-action list-group-item-primary rounded-3 d-flex justify-content-between align-items-start my-3 p-3" data-bs-toggle="collapse" href="#fryser<%=fridge.fridgeNumber%>" role="button" aria-expanded="false" aria-controls="<%=fridge.fridgeNumber%>">
                    <div class="fw-bold">Fryser: <%=fridge.fridgeNumber%></div>
                    <span class="badge text-bg-primary rounded-pill">Antall: <%=fridge.count%></span>
                </button>    
                <div class="collapse" id="fryser<%=fridge.fridgeNumber%>">
                    <div class="card card-body border-1 border-primary-subtle">
                        <table>
                            <thead>
                                <tr class="bg-primary bg-opacity-25 h5">
                                    <th class="text-center text-primary col-1">Vare</th>
                                    <th class="text-center text-primary col-1">Type</th>
                                    <th class="text-center text-primary col-1">Vekt(g)</th>
                                    <th class="text-center text-primary col-1">Utløpsdato</th>
                                </tr>
                            </thead>
                            <tbody class="fw-medium">
                                <% fridge.varer.forEach((vare) => { %>
                                    <tr>
                                        <td class="py-1"><%=vare.name%></td>
                                        <td class="py-1"><%=vare.type%></td>
                                        <td class="py-1"><%=vare.weight%></td>
                                        <td class="py-1"><%=vare.date%></td>
                                    </tr>
                                <%})%>
                            </tbody>
                        </table>
                    </div>
                </div> 
            <%});%>
        <%}%>
    </ul>
            
</body>
<footer>
    <%- include('./partials/footer.ejs') %>
</footer>
</html>