<!DOCTYPE html>
<html>
<head>
    <%- include('./partials/header.ejs') %>
</head>
<body class="m-auto pt-5">
    <%- include("./partials/navbar.ejs") %>
    <ul class="pt-3 ps-0"> 
        <% if(fridgeContainers) {%> 
            <% fridgeContainers.forEach(fridge => { %>
                <button class="btn list-group-item list-group-item-action list-group-item-<%=theme%> rounded-3 d-flex justify-content-between align-items-start my-3 p-3" 
                    data-bs-toggle="collapse" 
                    href="#fryser<%=fridge.fridgeNumber%>" 
                    role="button" 
                    aria-expanded="false" aria-controls="<%=fridge.fridgeNumber%>"
                >
                    <div class="fw-bold h5">Fryser: <%=fridge.fridgeNumber%></div>
                    <span class="badge text-bg-<%=theme%> rounded-pill">Antall: <%=fridge.count%></span>
                </button>    
                <div class="collapse" id="fryser<%=fridge.fridgeNumber%>">
                    <div class="card card-body border-2 border-<%=theme%>-subtle">
                        <table>
                            <thead>
                                <tr class="bg-<%=theme%> bg-opacity-25 h5">
                                    <th class="text-center text-<%=theme%> col-1">Vare</th>
                                    <th class="text-center text-<%=theme%> col-1">Type</th>
                                    <th class="text-center text-<%=theme%> col-1">Vekt</th>
                                    <th class="text-center text-<%=theme%> col-1">Utløpsdato</th>
                                </tr>
                            </thead>
                            <tbody class="fw-medium">
                                <% fridge.varer.forEach((vare) => { %>
                                    <tr data-bs-toggle="modal" data-bs-target="#modal" onclick="populateModal(<%= JSON.stringify(vare) %>)">
                                        <td class="py-1"><%=vare.name%></td>
                                        <td class="py-1"><%=vare.type%></td>
                                        <td class="py-1"><%=vare.weight%></td>
                                        <td class="py-1"><%=vare.date%></td>
                                    </tr>
                                <%})%>
                            </tbody>
                        </table>
                    </div>
                </div> 
            <%});%>
        <%}%>
    </ul>

<!-- Modal Body -->
<!-- if you want to close by clicking outside the modal, delete the last endpoint:data-bs-backdrop and data-bs-keyboard -->
    <div
        id="modal"
        class="modal fade"
        tabindex="-1"
        data-bs-backdrop="static"
        data-bs-keyboard="false"

        role="dialog"
        aria-labelledby="modalTitleId"
        aria-hidden="true"
    >
        <div
            class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-sm"
            role="document"
        >
            <div class="modal-content">
                <div class="modal-header bg-warning-subtle">
                    <h5 class="modal-title" id="modalTitleId">
                        Rediger eller fjern varen
                    </h5>
                    <button
                        type="button"
                        class="btn-close bg-danger"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                        title="Avbryt"
                    ></button>
                </div>
                <div class="modal-body bg-warning-subtle">
                    <form id="modalForm" action="fryser/edit" method="post" autocomplete="on" class="row-cols-1">
                        <input id="modalid" type="text" name="id" class="opacity-0"><br>
                        <input id="modalname" type="text" name="name" placeholder="varenavn" required><br>
                        <input id="modaltype" type="text" name="type" placeholder="varetype" required><br>
                        <input id="modalweight" type="number" name="weight" placeholder="vekt"><br>
                        <input id="modaldate" type="date" name="date"><br>
                        <input id="modalfridgeNumber" type="number" name="fridgeNumber" min="1" placeholder="fryser nummer" requiered><br>
                        <input id="modalcomment" type="text" name="comment" placeholder="kommentar" maxlength="100"><br>
                    <br>
                        <div class="modal-footer justify-content-evenly">
                            <button
                                id="modalSlettVare"
                                type="button"
                                class="btn btn-danger"
                                title="Slette varen"
                                >
                                <i class="bi bi-trash"></i> Fjern
                            </button>
                            <button
                                id="modalLagreEndring" 
                                class="btn btn-success"
                                title="Lagre endringer"
                                type="submit">
                                Lagre
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


            
</body>
<footer>
    <script src="../javascripts/script.js"> </script>
    <%- include('./partials/footer.ejs') %>
</footer>
</html>