<!DOCTYPE html>
<html>
<head>
    <%- include('./partials/header.ejs') %>
</head>
<body>
    <%- include("./partials/navbar.ejs") %>
    <div class="border-3">
        <table class="border border-3 border-primary mt-3" id="framside">
            <thead>
                <tr class="bg-primary bg-opacity-25">
                    <th class="border border-1 border-primary text-center text-primary col-1" onclick="sortBy('navn')">Navn</th>
                    <th class="accordion border-1 border-primary text-center text-primary col-1">Type</th>
                    <th class="border border-1 border-primary text-center text-primary col-1">Vekt(g)</th>
                    <th class="border border-1 border-primary text-center text-primary col-1">Dato</th>
                    <th class="border border-1 border-primary text-center text-primary col-1">Fryser</th>
                    <th class="border border-1 border-primary text-center text-primary col-1">Kommentar</th>
                </tr>
            </thead>
            <tbody>
                <% if(varer) {%>
                    <% varer.forEach((vare) => { %>
                        <tr>
                            <td><%=vare.name%></td>
                            <td><%=vare.type%></td>
                            <td><%=vare.weight%></td>
                            <td><%=vare.date%></td>
                            <td><%=vare.fridgeNumber%></td>
                            <td><%=vare.comment%></td>
                        </tr>
                    <%});%>
                <%}%>    
            </tbody>    
        </table>
    </div>
<!-- offcanvas -->
    <div class="offcanvas offcanvas-end" data-bs-backdrop="static" tabindex="-1" id="staticBackdrop" aria-labelledby="staticBackdropLabel">
      <div class="offcanvas-header bg-primary text-light">
        <h5 class="offcanvas-title" id="staticBackdropLabel">Legg til ny vare    <i class="bi bi-plus-circle-dotted"></i></h5>
        <button type="button" class="btn-close bg-danger" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <form action="/create" method="post" autocomplete="on">
            <input type="text" id="name" name="name" placeholder="varenavn" required><br>
            <input type="text" id="type" name="type" placeholder="varetype" required><br>
            <input type="number" id="weight" name="weight" placeholder="vekt" step="100"><br>
            <input type="date" id="date" name="date"><br>
            <input type="number" id="fridgeNumber" name="fridgeNumber" min="1" placeholder="fryser nummer" requiered><br>
            <input type="text" id="comment" name="comment" placeholder="kommentar" maxlength="100"><br>
            <input type="submit" value="Legg til" class="btn btn-success mt-1">
        </form>
      </div>
    </div>

    <div class="float-end addBtn">
        <button class="btn btn-outline-success col fw-bold" type="button" data-bs-toggle="offcanvas" data-bs-target="#staticBackdrop" aria-controls="staticBackdrop"> + </button>
    </div>
    
</body>
<footer>
    <script src="../javascripts/sortBy.js"> </script>
    <%- include('./partials/footer.ejs') %>
</footer>
</html>
