<!DOCTYPE html>
<html>
<head>
    <%- include('./partials/header.ejs') %>
</head>
<body>
    <%- include("./partials/navbar.ejs") %>
<!-- Vare table -->
    <div class="border-3">
        <table class="border border-3 border-primary mt-3" id="framside">
            <thead>
                <tr class="bg-primary bg-opacity-25">
                    <th class="border border-1 border-primary text-center text-primary col-1" onclick="sortBy('name')">Vare</th>
                    <th class="accordion border-1 border-primary text-center text-primary col-1" onclick="sortBy('type')">Type</th>
                    <th class="border border-1 border-primary text-center text-primary col-1">Vekt(g)</th>
                    <th class="border border-1 border-primary text-center text-primary col-1" onclick="sortBy('date')">Utløpsdato</th>
                    <th class="border border-1 border-primary text-center text-primary col-1" onclick="sortBy('fridgeNumber')">Fryser</th>
                </tr>
            </thead>
            <tbody>
                <% if(varer) {%>
                    <% varer.forEach((vare) => { %>
                        <tr data-bs-toggle="modal" data-bs-target="#modal" onclick="populateModal(<%= JSON.stringify(vare) %>)">
                            <td><%=vare.name%></td>
                            <td><%=vare.type%></td>
                            <td><%=vare.weight%></td>
                            <td><%=vare.date%></td>
                            <td><%=vare.fridgeNumber%></td>
                        </tr>
                    <%});%>
                <%}%>    
            </tbody>    
        </table>
    </div>
<!-- offcanvas -->
    <div class="offcanvas offcanvas-end" data-bs-backdrop="static" tabindex="-1" id="staticBackdrop" aria-labelledby="staticBackdropLabel">
      <div class="offcanvas-header bg-primary text-light">
        <h5 class="offcanvas-title" id="staticBackdropLabel">Legg til ny vare <i class="bi bi-plus-circle-dotted"></i></h5>
        <button type="button" class="btn-close bg-danger" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <form action="/create" method="post" autocomplete="on">
            <input type="text" id="name" name="name" placeholder="varenavn" required><br>
            <input type="text" id="type" name="type" placeholder="varetype" required><br>
            <input type="number" id="weight" name="weight" placeholder="vekt" step="100"><br>
            <input type="date" id="date" name="date"><br>
            <input type="number" id="fridgeNumber" name="fridgeNumber" min="1" placeholder="fryser nummer" requiered><br>
            <input type="text" id="comment" name="comment" placeholder="kommentar" maxlength="100"><br>
            <input type="submit" value="Legg til" class="btn btn-success mt-1">
        </form>
      </div>
    </div>
<!-- Button offcanvas -->
    <div class="float-end addBtn">
        <button 
            class="btn btn-outline-success col fw-bold" 
            type="button" 
            data-bs-toggle="offcanvas" 
            data-bs-target="#staticBackdrop" 
            aria-controls="staticBackdrop">
            Ny vare +
        </button>
    </div>

<!-- Modal Body -->
<!-- if you want to close by clicking outside the modal, delete the last endpoint:data-bs-backdrop and data-bs-keyboard -->
    <div
        id="modal"
        class="modal fade"
        tabindex="-1"
        data-bs-backdrop="static"
        data-bs-keyboard="false"

        role="dialog"
        aria-labelledby="modalTitleId"
        aria-hidden="true"
    >
        <div
            class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-sm"
            role="document"
        >
            <div class="modal-content">
                <div class="modal-header bg-warning-subtle">
                    <h5 class="modal-title" id="modalTitleId">
                        Redigere eller fjerne varen
                    </h5>
                    <button
                        type="button"
                        class="btn-close bg-danger"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                        title="Avbryt"
                    ></button>
                </div>
                <div class="modal-body">
                    <form id="modalForm" action="/edit" method="post" autocomplete="on">
                        <input id="modalid" type="text" name="id" class="opacity-0"><br>
                        <input id="modalname" type="text" name="name" placeholder="varenavn" required><br>
                        <input id="modaltype" type="text" name="type" placeholder="varetype" required><br>
                        <input id="modalweight" type="number" name="weight" placeholder="vekt" step="100" ><br>
                        <input id="modaldate" type="date" name="date"><br>
                        <input id="modalfridgeNumber" type="number" name="fridgeNumber" min="1" placeholder="fryser nummer" requiered><br>
                        <input id="modalcomment" type="text" name="comment" placeholder="kommentar" maxlength="100"><br>
                    <br>
                        <div class="modal-footer justify-content-evenly">
                            <button
                                id="modalSlettVare"
                                type="button"
                                class="btn btn-danger"
                                title="Slette varen"
                                >
                                <i class="bi bi-trash"></i> Fjern
                            </button>
                            <button
                                id="modalLagreEndring" 
                                class="btn btn-success"
                                title="Lagre endringer"
                                type="submit">
                                Lagre
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
</body>
<footer>
    <script src="../javascripts/script.js"> </script>
    <%- include('./partials/footer.ejs') %>
</footer>
</html>
