<!DOCTYPE html>
<html>
<head>
    <%- include('./partials/header.ejs') %>
</head>
<body class="m-auto pt-5">
    <%- include("./partials/navbar.ejs") %>

<!-- Table utgått -->
    <div class="table-responsive m-3">
        <h2 class="ps-3">Utgått:</h2>
        <table class="table table-danger text-center">
            <thead>
                <tr class="h5">
                    <th scope="col">Vare</th>
                    <th scope="col">Type</th>
                    <th scope="col">Utløpsdato</th>
                    <th scope="col">Fryser</th>
                </tr>
            </thead>
            <tbody class="">
                <% if(expired) { %>
                    <% expired.forEach((vare) => { %>
                        <tr onclick="deleteToast('<%=vare._id%>', '<%=vare.name%>')">
                            <td><%=vare.name%></td>
                            <td><%=vare.type%></td>
                            <td><%=vare.date%></td>
                            <td><%=vare.fridgeNumber%></td>
                        </tr>
                    <% }) %>
               <% } %>
            </tbody>
        </table>      
    </div>

    <!-- Table snart utgått -->
    <div class="table-responsive m-3">
        <h2 class="ps-3">Snart utgått:</h2>
        <table class="table table-warning text-center">
            <thead>
                <tr>
                    <th scope="col">Vare</th>
                    <th scope="col">Type</th>
                    <th scope="col">Utløpsdato</th>
                    <th scope="col">Fryser</th>
                </tr>
            </thead>
            <tbody>
                <% if(soonExpired) { %>
                    <% soonExpired.forEach((vare) => { %>
                        <tr onclick="deleteToast('<%=vare._id%>', '<%=vare.name%>')">
                            <td><%=vare.name%></td>
                            <td><%=vare.type%></td>
                            <td><%=vare.date%></td>
                            <td><%=vare.fridgeNumber%></td>
                        </tr>
                    <% }) %>
               <% } %>
            </tbody>
        </table>      
    </div>

<!-- Delete toast -->
    <div id="deleteToast" class="toast position-relative m-auto border-3 rounded-3 border-danger-subtle" role="alert" aria-live="assertive" aria-atomic="true">
        <div id="toastBody" class="toast-body">
            <button type="button" class="btn btn-close bg-danger float-end" aria-label="Close" data-bs-dismiss="toast" title="Avbryt"></button>
            <p id="toastmsg" class="fw-medium h4"></p>
            <div class="mt-2 pt-2 border-top">
                <button id="toastDelete" type="button" class="btn btn-outline-danger border-2 btn-sm fw-medium p-md-2">Slett</button>
            </div>
        </div>
    </div>

</body>
<footer>
    <script src="../javascripts/script.js"> </script>
    <%- include('./partials/footer.ejs') %>
</footer>
</html>